         <!--  <img src="/img/splash_page_freelancer.jpg"> -->
<div class="splashText" id="splash">
  <br>
  <br>
  <h1 class="head">work from anywhere.</h1>
  <p>
  Enjoy the perks of being a contractor without the headache of juggling administrative tasks. <br>
  Get started today with our easy-to-use time and job management tool for freelancers!
  </p>
  <br>
  <button class="btn btn-primary" onclick="location.href='/#/signup';" >Sign Up</button>
  <button class="btn btn-info" onclick="location.href='/#/login';" >Sign In</button>
</div>
<div>
</div>